---
import Layout from '../../layouts/Layout.astro';
// i18n
import * as m from '../../paraglide/messages';
import { availableLanguageTags } from '../../paraglide/runtime';

export function getStaticPaths() {
  return availableLanguageTags.map((locale) => ({ params: { locale } }));
}

const schema = {
  '@context': 'https://schema.org',
  '@type': 'WebPage',
  name: m.homePageTitle(),
  description: m.homePageDescription(),
  url: Astro.url,
  publisher: {
    '@type': 'Organization',
    name: 'Devigeon',
    url: Astro.url.origin,
    // Add Logo
  },
};
---

<Layout title={m.homePageTitle()} description={m.homePageDescription()}>
  <h1>Salut</h1>
  <script is:inline slot='json-ld' type='application/ld+json' set:html={JSON.stringify(schema)} />
</Layout>
