<section
  class='bg-primary-dark-background text-primary-dark-foreground flex h-full w-full flex-col items-center justify-center'>
  <div
    class='w-[90%] max-w-sm space-y-3 text-center sm:w-[80%] md:w-min md:max-w-none md:text-left'>
    <slot name='title' />
    <slot name='description' />
  </div>
</section>
