---
//i18n
import * as m from '../paraglide/messages';
import { localizePathname } from '../lib/localizePathname';
import { delocalizePathname } from '../lib/delocalizePathname';
---

<ul>
  <li>
    <a href={localizePathname(`/${delocalizePathname(Astro.url.pathname)}`, 'en')}
      >{m.switchToEnglish()}</a
    >
  </li>
  <li>
    <a href={localizePathname(`/${delocalizePathname(Astro.url.pathname)}`, 'ro')}
      >{m.switchToRomanian()}</a
    >
  </li>
</ul>
