<section
  class='3xl:h-[525px] relative mx-auto grid w-[90%] max-w-[1400px] grid-cols-1 justify-items-center gap-20 sm:w-[85%] xl:h-[450px] xl:grid-cols-3 xl:gap-8 2xl:gap-20'>
  <slot name='slot1' />
  <slot name='slot2' />
  <slot name='slot3' />
</section>
